/*** FONT ***/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=Work+Sans&display=swap');
/*FONT*/

.source-regular {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
}

.source-semibold {
 font-family: 'Source Serif Pro', serif;
  font-weight: 600;
}

.source-bold {
 font-family: 'Source Serif Pro', serif;
  font-weight: 700;
}

.work-light{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.work-regular{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.work-medium{
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

.work-bold{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}
:root{
  /* Abu abu */
  --white: #f9f9ec;
  --grey-700: #504A40;
  --teracotta: #E2725B;
}

.text-black{color:#2B351A !important;}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-bg{
  height: 100%;
  background-image:linear-gradient(#1a1a1a69,#1a1a1a69), url('https://images.unsplash.com/photo-1523438885200-e635ba2c371e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80'); 
  background-size: cover; 
  background-position: center center;
}

.contact-container-item {
  max-width: 50%;
}

.contact-container-item--top {
  align-self: flex-start;
}

.contact-container-item--bottom {
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .contact-container {
    background-image: none !important;
  }

  .contact-container-item {
    display: none !important;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  color: var(--white) !important;
}

a{
  color: var(--white) !important;
  text-decoration: none;
}

a:hover{
  color: var(--white);
  text-decoration: none;
}

ul{
  list-style: none;
}

h1, h2, h5{
  overflow: hidden;
}

h1, h2{
  font-family: 'Source Serif Pro', serif;
}

body{
  background-color: var(--white);
}

/*** HEADER ***/
header{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header.journal{
  background-image: linear-gradient(#00000088, #00000000), url(https://images.unsplash.com/photo-1544078751-58fee2d8a03b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
}

header.portfolio{
  background-image: linear-gradient(#00000088, #00000000), url(https://images.unsplash.com/photo-1583939411023-14783179e581?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
}

/**** NAVBAR ****/
nav{
  position: absolute;
  top: 0;
}
nav .nav-link{
  color: var(--white) !important;
  width: fit-content;
}

nav .nav-link:hover{
  border-bottom: 3px solid var(--white);
}

nav a.active{
  border-bottom: 3px solid var(--white);
}


/* navbar for contact */
.contact-section nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.contact-section i{
  color: var(--grey-700) !important;
}
.contact-section nav .nav-link{
  color: var(--grey-700) !important;
}

.contact-section nav .nav-link:hover{
  border-bottom: 3px solid var(--grey-700);
}
.contact-section nav a.active{
  border-bottom: 3px solid var(--grey-700);
}

/* Navbar for Journal Details */
.journal-details nav .navbar-brand{
  filter: brightness(0.3);
  -webkit-filter: brightness(0.3);
}

.journal-details nav .nav-link{
  color: var(--grey-700) !important;
}

.journal-details nav .nav-link:hover{
  border-bottom: 3px solid var(--grey-700);
}

.journal-details nav a.active{
  border-bottom: 3px solid var(--grey-700);
}

.scrolldown{
  position: absolute;
  bottom: 1rem;
  -webkit-animation: MoveUpDown 1.5s linear infinite;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 1.5rem;
  }
  50% {
    bottom: .6rem;
  }
}

/**** HOME ****/
.carousel{
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.carousel .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(.7);
  -webkit-filter: brightness(.7);
}

.home-container{
  width: 100%;
  position: relative;
}

/**** JOURNAL ****/
/* Journal Container */
.journal-section{
  background-color: var(--grey-700);
}

.journal-container{
  width: 100%;
  position: relative;
}

/* Journal Item */
.journal-item{
  position: relative;
  height: 480px;
  background-image:
  linear-gradient(#00000000,#000000a9),url(https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.journal-item .journal-content button{
  background-color: transparent;
  border: none;
}

.journal-item .journal-content{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3rem;
}

.journal-item:hover{
  filter: brightness(1.15);
  -webkit-filter: brightness(1.15);
}

/*** JOURNAL DETAILS ***/
.journal-details .journal-details-content h1{
  color: var(--grey-700) !important;
}

.journal-details .journal-details-content p{
  color: var(--grey-700) !important;
}

.journal-details-text p{
  font-size: .8rem;
  margin-bottom: 3rem;
}

/**** PORTFOLIO ****/
/* portfolio Container */
.portfolio-container{
  width: 100%;
  position: relative;
  background-color: var(--grey-700);
}

.scrolldown{
  position: absolute;
  bottom: 1rem;
  -webkit-animation: MoveUpDown 1.5s linear infinite;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 1.5rem;
  }
  50% {
    bottom: .6rem;
  }
}

/* portfolio Item */
.portfolio-item{
  position: relative;
  height: 480px;
  background-image:
  linear-gradient(#00000000,#000000a9),url(https://iluminen.com/wp-content/uploads/2023/02/AVW_0466322-scaled.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.portfolio-item .portfolio-content{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3rem;
}

.portfolio-item .portfolio-content button{
  background-color: transparent;
  border: none;
}

.portfolio-item:hover{
  filter: brightness(1.15);
  -webkit-filter: brightness(1.15);
}

/**** PORTFOLIO DETAILS ****/
.portfolio-details header.portfolio{
  overflow: hidden;
}

.portfolio-details header.portfolio{
  background-image: linear-gradient(#2a2a2a88, #2a2a2a88), url(https://iluminen.com/wp-content/uploads/2023/02/AVW_0466322-scaled.jpg);
}

.portfolio-details-content .portfolio-comp-logo{
  filter: brightness(.5);
  -webkit-filter: brightness(.5);
}

.pagination {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
}

.pagination li {
  display: inline
}
.pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000
}

/* Active and Hoverable Pagination */
/* Journal pagination */
.pagination li a {
  font-size: .7rem;
  color: #c9bba1 !important;
}

.pagination li a.active {
  color: var(--white) !important;
  font-weight: bolder;
}

.pagination li a:hover:not(.active) {
  color: var(--white) !important;
  font-weight: bolder;
}

/* Portfolio pagination */
.portfolio-section .pagination li a {
  font-size: .7rem;
  color: #b0a081 !important;
}

.portfolio-section .pagination li a.active {
  color: var(--grey-700) !important;
  font-weight: bolder;
}

.portfolio-section .pagination li a:hover:not(.active) {
  color: var(--grey-700) !important;
  font-weight: bolder;
}

/*CONTACT PAGE*/
.contact-section{
  background-color: var(--white);
  color: var(--grey-700) !important;
}
.contact-section .contact-section-form h1{
  color: var(--grey-700) !important;
}

.contact-section .contact-section-form p{
  color: var(--grey-700) !important;
}

.contactInput {
  background: transparent;
  border: 0px;
  border-bottom: 0.3px solid var(--grey-700);
  padding: 10px 0px;
  font-size: 14px;
  margin-bottom: 30px;
  width: 100%;
  color: var(--grey-700) !important;
}

.contactInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.3;
  /* Firefox */
}

.contactInput:focus {
  outline: none !important;
  border-bottom: 1px solid var(--grey-700);
  box-shadow: none;
}

.contactTextArea {
  background: transparent;
  border: 1px solid var(--grey-700);
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.contactTextArea:focus {
  outline: none !important;
  border: 1px solid var(--grey-700);
  box-shadow: none;
}

.contactSubmitButton {
  border: 0;
  background: transparent;
  font-size: 14px;
  color: #444F5E;
}

/*** FOOTER ***/
footer p{
  font-size: .75rem !important;
}

footer .col-lg-2 h1{
  font-size: 1.5rem;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

/* Home footer */
.home-section footer{
  background-color: var(--white);
}

.home-section footer h1,
.home-section footer p{
  color: var(--grey-700) !important;
}

/* Journal footer */
.journal-section footer{
  background-color: var(--grey-700);
}

/* journal details footer */
.journal-details footer{
  background-color: var(--grey-700);
}

.journal-details footer h1,
.journal-details footer p{
  color: var(--white) !important;
}

/* portfolio footer */
.portfolio-section footer{
  background-color: var(--white);
}

.portfolio-section footer h1,
.portfolio-section footer p{
  color: var(--grey-700) !important;
}

/* portfolio detail footer */
.portfolio-details footer{
  background-color: var(--white);
}

.portfolio-details footer h1,
.portfolio-details footer p{
  color: var(--grey-700) !important;
}

/* contact footer */
.contact-section footer{
  background-color: var(--grey-700);
}

.contact-section footer h1,
.contact-section footer p{
  color: var(--white) !important;
}